
modules = ["nodejs-20"]

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["node", "index.js"]
build = ["npm", "run", "build"]
deploymentTarget = "cloud_run"
ignorePorts = false

[env]
NODE_ENV = "production"

[workflows]
runButton = "Run Server"

[[workflows.workflow]]
name = "Run Server"
author = 41339238
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=production node index.js"
